<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutiles</title>
</head>
<body>
<h1>Welcome to text analyser. Enter text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea>
    <br>
    <input type='checkbox' name='removepunc'> remove punctuations <br>
    <input type='checkbox' name='fullcaps'> TO UPPER CASE <br>
    <input type='checkbox' name='newlineremover'> New Line Remover <br>
    <input type='checkbox' name='extraspaceremover'> Extra Space Remover <br>
    <input type='checkbox' name='charcount'> Count Character <br>
    <button type='submit'>analyse</button>
</form>
</body>
</html>